__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

# Checkpoints - DO NOT COMMIT
checkpoints/
*.pth
*.ckpt
*.pt

# Logs
logs/
slurm_logs/
*.out

thumbs.db
.DS_Store
.idea

# Local env and virtual envs
.venv/
venv/
.env
.env.*

